body {
  width: 90%;
  margin: 0 auto;
}

/* #snowfall {
  width: 100%;
  height: 500px;
  background-image: url("https://media.giphy.com/media/N7ZiLbtDr84Yo/giphy.gif");
  opacity: 0.2;
  background-size: 75%;
  background-position: center;
} */

#card-container {
  margin: 0 auto;
  width: 71.1%;
  flex-flow: row wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card {
  margin: 10px;
  width: 100px;
  height: 150px;
  background-image: url("img/card_back.jpg");
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.replay {
  margin-left: 18.2%;
  width: 90px;
  height: 60px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card, .replay {
  border: 1px solid #999;
  border-radius: 3%;
  box-shadow: 1px 1px 2px gray;
}
