:root {
  --background-color-body: #eee;
  --background-color-cards: #fff;
  --border-style: 1px solid #999;
  --border-radius: 3%;
  --box-shadow: 1px 1px 2px gray;
  --background-color-restart: #fff;
}

body {
  background-color: var(--background-color-body);
}

.card-container {
  margin: 0 auto;
  width: 55%;
  flex-flow: row wrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.card {
  margin: 2px;
  width: 100px;
  height: 150px;
  border: var(--border-style);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-cards);
  display: inline-block;
}

.restart {
  width: 90px;
  height: 60px;
  border: var(--border-style);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--background-color-restart);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.fail {
  background-color: var(--background-color-cards);
}
